[Unit]
Description=alta3 tty ttyd service
After=network.target

[Service]
User=student
Group=student

ExecStart=/opt/ttyd/ttyd \
  --interface 0.0.0.0 \
  --port 2223 \
  --client-option 'disableLeaveAlert=true' \
  --client-option 'titleFixed=bchd Alta3 Recovery' \
  --client-option 'theme={"background":"#0f0f0f"}' \
    /bin/bash

[Install]
WantedBy=multi-user.target

